export BW_SESSION=$(bw unlock --raw)

export PODBEAN_CLIENT_ID="$(bw get item production-podbean | jq -r '.fields[] | select(.name == "client-id") | .value')"
export PODBEAN_CLIENT_SECRET="$(bw get item production-podbean | jq -r '.fields[] | select(.name == "client-secret") | .value')"

#
export CONTENT_ANALYSER_YOUTUBE_API_KEY="$(bw get item content-analyser | jq -r '.fields[] | select(.name == "youtube-api-key") | .value')"




